html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(159, 204, 119);
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  flex-direction: column;
}

.main_div {
  background-color: rgb(203, 206, 188);
  border: 3px black solid;
  border-radius: 10px;
  padding: 20px;
}

.texto-pequeno {
  font-size: small;
}
